<IfModule mod_rewrite.c>
     # Itu hanya untuk melindungi Anda dari kesalahan 500
    # jika server Anda tidak memiliki mod_rewrite diaktifkan

    RewriteEngine On
    # RewriteBase /
    # TIDAK diperlukan kecuali Anda menggunakan mod_alias untuk pengalihan

    RewriteCond %{REQUEST_URI} !/public
    RewriteRule ^(.*)$ public/$1 [L]
    # Arahkan semua permintaan ke folder /public
</IfModule>
